<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anti-Discrimination Waiver</title>
  </head>
  <body>
    <div class="container">
      <h3>
        Understanding of Anti-Discrimination Policy for Guests, Staff,
        Volunteers
      </h3>
      <form action="" method="get" class="form">
        <p>
          Open Doors welcomes individuals who are heterosexual, bisexual, gay,
          lesbian, transgender and/or gender non-conforming, of different races,
          classes, religions, ages, protected classes and backgrounds. We do not
          discriminate based upon gender identity or gender expression, and as a
          guest, staff and/or volunteer, I agree to address individuals by their
          preferred gender pronoun. By signing this statement, I agree to be
          respectful of program guests, volunteers and staff. I understand that
          any oppressive or abusive language or actions are not acceptable, and
          that I am bound by law to keep any personal information I learn about
          a client confidential. If I have any questions about this procedure, I
          can ask a staff member to explain it to me.
        </p>
        <p>
          If a program guest, volunteer, or staff member is acting in an abusive
          or oppressive way towards me, I know that I can report this behavior
          (either verbally or in writing) to a staff member. If I feel that the
          issue has not been addressed, I can then report it to the Program
          Manager. If the issue has still not been appropriately addressed, I
          can bring the issue to the Director.
        </p>
        <strong>
          ** Please ask Staff for the "Complaint" form if you would like to
          place something in writing. **
        </strong>
        <hr />
        <p>CLIENT SIGNATURE (adult)</p>
        <input type="text" name="test" placeholder="First & Last Name" />
        <input type="date" />
        <hr />
        <p>CLIENT SIGNATURE (adult)</p>
        <input type="text" placeholder="First & Last Name" />
        <input type="date" />
      </form>
    </div>
  </body>
</html>
