<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homeless History</title>
  </head>
  <body>
    <div class="container">
      <h3>History</h3>
      <form action="" method="get" class="form">
        <p>
          Last permanent address (last address you lived where you did not
          consider yourself to be homeless)
        </p>
        <input type="text" name="test" />
        <p>Where did you stay last night?</p>
        <input type="text" name="test" />
        <p>How long were you at this location?</p>
        <input type="text" name="test" />
        <p>
          If less than 7 nights, where di you stay immediately prior to that?
        </p>
        <input type="text" name="test" />
        <p>How long were you at this location?</p>
        <input type="text" name="test" />
        <p>Aproximately when did you become homeless?</p>
        <input type="text" name="test" />
        <p>How many times in the last 3 years have you been homeless?</p>
        <input type="text" name="test" />
        <p>How many total months in those 3 years have you been homeless?</p>
        <input type="number" name="test" />
      </form>
    </div>
  </body>
</html>
